@page "/"
@using BlazorClient.Services
@*this will check the app route view before render the page*@
@attribute [Authorize]
@inject IAccountService AccountService

<div class="p-4">
    <div class="container">
        <h1>Hi @AccountService.Account.Token!</h1>
        <p>You're logged in with Blazor WebAssembly!!</p>
        <p><NavLink href="users">Manage Users</NavLink></p>
    </div>
</div>